.container {
  padding: 50px;
  font-size: 2rem;
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". .";
  justify-items: center;
  align-items: center;
}

.color {
  color: var(--darkTextColor2)
}

.name {
  font-size: 2.5rem;
}

.picture {
  width: 450px;
  border-radius: 50%;
  border: 2px solid var(--darkTextColor2);
}

@media only screen and (max-width: 650px) {
  .container {
    font-size: 1.7rem;
  }

  .pictureDiv {
    display: flex;
    justify-content: center;
  }

  .picture {
    width: 90%;
  }

  .name {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    height: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
  }

  .picture {
    grid-area: 1/span 1;
  }

  .text {
    grid-area: 2/span 1;
  }
}

@media only screen and (max-height: 850px) {
  .container {
    height: auto;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}