.navBar {
  margin: 0;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 75px;
  /* font-size: 1.1rem;
  font-size: 6px; */
  position: fixed;
  top: 0;
  background-color: var(--darkBackground2);
  box-shadow: 0 10px 20px var(--darkBackground1);
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  /* font-size: 3rem; */
  font-size: 45px;
  color: var(--darkTextColor2);
}

.logoText {
  font-family: "OstrichSansBold";
  padding: 0;
  margin: 0;
}

.hamburgerDiv {
  display: none;
}

.navItems {
  list-style-type: none;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 25px;
}

.navItem {
  transition: 0.3s;
}

.navItem:hover {
  color: var(--darkTextColor2);
  cursor: pointer;
}

.navSocialMedia {
  display: none;
}

.selected {
  color: var(--darkTextColor2);
  border-bottom: 1px solid var(--darkTextColor2);
}



@media only screen and (max-width: 1200px) {
  .navBar {
    /* height: 100vh; */
    flex-direction: column;
    justify-content: start;
  }

  .navIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navContent {
    padding-top: 30px;
    font-size: 1.4rem;
  }

  .navItems {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 50px;
  }

  .hamburgerDiv {
    display: inline;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    /* position: fixed;
    right: 40px; */
  }

  .hamburgerIcon {
    padding: 0;
  }

  .navSocialMedia {
    margin: 40px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .navSocialMediaItem {
    color: var(--darkTextColor1);
  }

  .navSocialMediaItem:hover {
    color: var(--darkTextColor2);
  }

  .selected {
    color: var(--darkTextColor2);
    border-bottom: none;
  }
}


@media only screen and (max-height: 600px) {
  /* .navBar {
    height: auto;
  } */
}